<div class="wrapper">
	<div class="ar pv-18 bg-light-blue bg-darken-3">
      <div class="ac l80">
         <nav class="">
            <div class="pl-8p aione-float-left pt-17">
            <a class="white font-weight-700 font-size-23" href="index.html">Smaart™ Framework<!-- <h4 class="font-weight-900 white m-0">SMAART</h4><h5 class="font-weight-600 white m-0" style="letter-spacing: 2px;">FRAMEWORK</h5> --><!-- <img src="assets/images/logo-white.svg"> --></a>
            </div>
            <ul  class="font-weight-400 font-size-16 p-0">
               <li class="p-20 display-inline-block pl-65"><a class="white" href="index.html">Home</a></li>
               <li class="p-20 display-inline-block"><a class="white" href="about.html">About</a></li>
               <li class="p-20 display-inline-block"><a class="white" href="feature.html">Features</a></li>
              <li class="p-20 display-inline-block"><a class="white" href="modules.html">Modules</a></li>
          </ul>
         </nav>
      </div>
      <div class="ac l20">
         <div class=" width-100 pt-12">
            <a class="white font-weight-400 font-size-16 pr-20" href="#">Login</a>
            <button class="aione-button">Register</button>
         </div>
      </div>
   </div>
</div><!-- .wrapper -->
<div class="clear"></div>