<div class="wrapper aione-align-left font-weight-100">
	<div class="ar pt-50 pb-5p ph-8p" style="background: #EDF1F4">
                              		<div class="ac l32">
                              			<div class="">
                              				<ul>
                              				<li  class="pb-5"><span class="font-weight-400 font-size-14 blue-grey pl-20">Mobile App</span></li>
                              				<li  class="p-5"><button class="aione-button bg-white pv-3 ph-30 font-weight-300 font-size-14 blue-grey">Get Android App</button></li>
                              				<li  class="p-5"><button class="aione-button bg-white pv-3 ph-30 font-weight-300 font-size-14 blue-grey">Get iphone App</button></li>
                              			</ul>
                              			</div>
                              		</div>
                              		<div class="ac l17">
                              			<div>
                              				<ul class="">
                              					<li class="pb-15 font-weight-400"><span class="pl-5">PRODUCTS</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Core API</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Company details</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Carrier detection</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Hosting data</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Downloadable data</span></li>
                              				</ul>
                              			</div>
                              		</div>
                              		<div class="ac l17">
                              			<div>
                              				<ul class="">
                              					<li class="pb-15 font-weight-400"><span class="pl-5">RESOURCES</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Blog</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Developers</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Client libraries</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>FAQ</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Contact</span></li>
                              				</ul>
                              			</div>
                              		</div>
                              		<div class="ac l17">
                              			<div>
                              				<ul class="">
                              					<li class="pb-15 font-weight-400"><span class="pl-5">COMPANY</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>About</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Pricing</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Customer</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Enterprise</span></li>
                              					</ul>
                              			</div>
                              		</div>
                              		<div class="ac l17">
                              			<div>
                              				<ul class="">
                              					<li class="pb-15 font-weight-400"><span class="pl-5">REPORTS</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Gobal ASNs</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Hosted Domains</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>VPN Guide</span></li>
                              					<li class="p-5 font-weight-300 font-size-14"><span>Browse IPs</span></li>
                              					</ul>
                              			</div>
                              		</div>
                              	</div>
                              	
</div>
<!-- .wrapper -->