.aione-header{
   background-color: #168dc5;
}
.logo{
  line-height: 50px;
}
.aione-nav.horizontal{
   border-bottom:none;
}
.aione-nav > ul > li{

}
.aione-nav > ul > li.active,
.aione-nav > ul > li:hover{
  background-color: #1570a6;
}
.aione-nav > ul > li.active{
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.18);
}
.aione-nav > ul > li.active:after{
  /*content: "";*/
  width:0;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
}
.aione-nav > ul > li > a{
  color:#ffffff;
  padding: 0;
  width: 60px;
  text-align: center;
}
.aione-nav > ul > li > a > .nav-item-text{
  display: none;
  font-size: 17.6px;
  line-height: 40px;
  position: absolute;
  bottom: -40px;
  left: 0;
  padding: 0 10px;

  width: 200px;
  height: 40px;
  background-color: #1570a6;
  text-align: left;
  z-index: 9;
}
.aione-nav > ul > li:hover > a > .nav-item-text{
  display: block;
}
.aione-nav > ul > li > a > .nav-item-icon{
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 54px;
  display: inline-block;
}
.aione-nav > ul > li > a > .nav-item-desc{
  display: block;
  color:#b6dfff;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 60px;
  height: 18px;
  z-index: 10;
  text-align: center;
}
.aione-nav > ul > li.active > a > .nav-item-desc,
.aione-nav > ul > li:hover > a > .nav-item-desc{
  color:#ffffff;
}

.aione-sidebar .aione-nav > ul > li > a > .nav-item-text{
  left: 60px;
  top:0;
  bottom: initial;
  height: 60px;
}
/*
.aione-nav > ul > li:nth-child(1) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(2) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.12); }
.aione-nav > ul > li:nth-child(3) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.14); }
.aione-nav > ul > li:nth-child(4) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.16); }
.aione-nav > ul > li:nth-child(5) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.18); }
.aione-nav > ul > li:nth-child(6) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.20); }
.aione-nav > ul > li:nth-child(7) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.22); }
.aione-nav > ul > li:nth-child(8) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.24); }
.aione-nav > ul > li:nth-child(9) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.26); }
.aione-nav > ul > li:nth-child(10) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.28); }
.aione-nav > ul > li:nth-child(11) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.30); }
.aione-nav > ul > li:nth-child(12) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.32); }
.aione-nav > ul > li:nth-child(13) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.34); }
.aione-nav > ul > li:nth-child(14) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.36); }
.aione-nav > ul > li:nth-child(15) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.38); }
.aione-nav > ul > li:nth-child(16) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.40); }
.aione-nav > ul > li:nth-child(17) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(18) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(19) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(20) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(21) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(22) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(23) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(24) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(25) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(26) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(27) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(28) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(29) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }
.aione-nav > ul > li:nth-child(30) > a > .nav-item-icon{ background-color: rgba(0,0,0,0.10); }

*/
.aione-sidebar{
  width: 60px;
  background-color: #168dc5;
}
.aione-sidebar:before{
  width: 60px;
  top: 0;
  position: absolute;
  background-color: #168dc5;
}
.aione-nav.vertical.light>ul>li:first-child{
  border-top: none;
}

.aione-content {
  width: calc(100% - 70px);
}

.auth-wrapper .login{
  background: white;
  color: #3b8bca;
  font-weight: 600;
  border: 2px solid white;
}
.auth-wrapper .register{
  background: transparent;
  border: 2px solid white;
  color: white
}
.aione-page-title{
margin: 0;
}
a{
  color: #168dc5;
}

a:hover{
  color: #1570a6;
}

.aione-tooltip:before{
min-width: 120px;
}


td.actions{
  text-align: right;
}
.actions .action-button,
.action-button{
  padding: 0px 7px 2px 7px;
  margin: 0;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  background: #168dc5;
  border-radius: 0;
  display: inline-block;
}
.actions .action-button:hover,
.action-button:hover{
  color: #ffffff;
  background: #1570a6;
}

.actions .action-button.square{
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.actions .action-button.square i{
  display: block;
}
.aione-table{
  overflow-x:auto;
}
/*
.aione-table table,
.aione-table thead,
.aione-table tbody,
.aione-table tr,
.aione-table th,
.aione-table td{
  max-width: 1200px;
}
.aione-table thead,
.aione-table tbody{

  display: block;
}*/

.login_title{
    background-color: #168dc5;
    margin-right: 1%;
    font-family: arial;
    padding: 10px;
    color: #FFF;
    white-space: pre;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.users_div{
    position: absolute;
    z-index: 9999;
    display: none;
    background: white;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 1px 1px #e8e8e8;
    width: 200px;
}

.parent_div{
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
.users_div .login-users{
    background: white;
    color: #454545;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
}
.users_div .login-users:hover{
    background-color: #e8e8e8
}
.users_div .login-users:last-child{
    border-bottom: none;
}
.aione-button.wide{
    padding-left:30px;
    padding-right:30px;
}
.aione-button.primary{
    color: #FFFFFF;
    background-color: #168DC5;
}
.aione-button.primary:hover{
    color: #FFFFFF;
    background-color: #1570A6;
}
.aione-button.primary.outline{
    background-color: transparent;
    color: #168DC5;
    border-color: #168DC5;
}
.aione-button.primary.outline:hover{
    background-color: transparent;
    color: #1570A6;
    border-color: #1570A6;
}
.add-new-button{
  position: absolute;
  right: 8px;
  top: 8px;
}
.aione-page-header{
  margin-bottom: 10px;
}
.aione-page-content .wrapper{
  padding-right: 10px;

}